@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Passion+One:wght@700&family=Russo+One&display=swap');

  .body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #0D021A;

  }


.icon{
  width: 100px;
  size: auto;
}

.fondoSubir {
  background-color: #1a1a2e;
  padding-left: 50px;
  padding-right: 50px;
}

.fondo {
  background-color: #1a1a2e;
}

.code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.form{
  text-align: left;
  margin: 15px;
}

.texto {
  /* text-align: center; */
  text-align: justify;
  text-justify: auto;
  font-size: 24px;
  line-height: 30px;
  color: #fff;
}


.titulo {
  font-size: 48px;
  text-align: center;
  color: white;
}

.listaJuegos{
  padding-left: 3%;
  padding-right: 3%;
  text-align: center;
}

.cartaJuego {
  background-color: red;
  border: red;
  margin-bottom: 10%;
  text-align: center;
}

.textoCarta {
  color: black;
  text-align: center;
}

.boton {
  text-align: center;
}

.imagenMargenes {
  padding-left: 50px;
}

.textoMargenes{
  padding-right: 50px;
}
.imagen {
  border: #fff;
  border-style: solid;
  
}



body .ui.cards>.card{
  box-shadow: none;
  background-color: #fff;
  margin: 30px;
  line-height: 1;
  color: white;
  font-size: large;
  float: left;
  border-collapse: collapse;

}

/* .ui.card>.content>a.header,
.ui.cards>.card>.content>a.header,
.ui.card .meta,
.ui.card .header,
.ui.cards>.card .meta,
.ui.card>.content>.description,
.ui.cards>.card>.content>.description,
.ui.card>.extra a:not(.ui),
.ui.cards>.card>.extra a:not(.ui) {
  color: white;
  font-size: medium;
  border-collapse: collapse;
  text-align: left;
 
} */
/* .ui.inverted.segment,
.ui.primary.inverted.segment {
    background: #00293C; 
} */

input#abrir-cerrar { visibility:hidden; position: absolute; top: -9999px; }
input#abrir-cerrar:checked ~ #sidebar {
  width:300px;
}
input#abrir-cerrar:checked + label[for="abrir-cerrar"], input#abrir-cerrar:checked ~ #contenido {
  margin-left:300px;
  transition: margin-left .4s;
}
input#abrir-cerrar:checked + label[for="abrir-cerrar"] .cerrar { 
  display:inline;
}
input#abrir-cerrar:checked + label[for="abrir-cerrar"] .abrir {
  display:none;
}

div.headerGame{
  color: white;
}

div.image{
 width: 100%;
}




.ui.table tr td{ 
  border-collapse: collapse;
  text-align: center;
  padding: 10;
  text-align: left;
}

div.headerGame{
  background-color: #00293C; 
  border-collapse: collapse;
  color: #00293C;
  text-align: center;
}




div.form{
  float: right;
}



header {
  background:#333;
  color:#eee;
  width:100%;
}

a.header{
  text-align: center;
}

input#abrir-cerrar {
  visibility:hidden;
  position: absolute;
  top: -9999px;
}



label[for="abrir-cerrar"] {
  cursor:pointer;
  padding: 1rem;
  background-color: #1a1a2e;
  color:#fff;
  display:inline-block;
  width:100%;
  font-size: large;
  line-height: 1;
  
}

.cerrar {
  display:none;
}

#sidebar {
  width:0;
}

#contenido {
  text-align: center;
}

input#abrir-cerrar:checked ~ #sidebar {
  width:300px;
}

input#abrir-cerrar:checked + label[for="abrir-cerrar"], input#abrir-cerrar:checked ~ #contenido {
  margin-left:300px;
  transition: margin-left .4s;
}

input#abrir-cerrar:checked + label[for="abrir-cerrar"] .cerrar {
  display:inline;
}

input#abrir-cerrar:checked + label[for="abrir-cerrar"] .abrir {
  display:none;
}

.sidebar {
  position: fixed;
  height: 100%;
  width: 0;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: #16213e;
  overflow-x: hidden;
  transition: 0.4s;
  padding: 1rem 0;
  box-sizing:border-box;
  text-align: center;

}

.sidebar .boton-cerrar {
  position: absolute;
  top: 0.5rem;
  right: 1rem;
  font-size: 2rem;
  display: block;
  padding: 0;
  line-height: 1.5rem;
  margin: 0;
  height: 32px;
  width: 32px;
  text-align: center;
}

.sidebar ul, .sidebar li{
  margin:0;
  padding:0;
  list-style:none inside;
}

.sidebar ul {
  margin: 4rem auto;
  display: block;
  width: 80%;
  min-width:200px;
  width: 90%;
}

.sidebar a {
  display: block;
  font-size: 120%;
  color: #eee;
  text-decoration: none;
  line-height: 3;  
  width: 100%;
  float: right;
}

.sidebar a:hover{
  color:#fff;
  background-color:#1f2d52;
  width: 100%;
}

.image{
  margin-bottom: inherit;
}

.center{
  padding-left: 28%;
  text-align: left;
  align-items: center;
}

.banner{
  width: 100%;
  height: 550px;
  animation: banner 10s infinite linear alternate;
  background-size: 100% 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-image: url(); */
}

.foo{
  text-align: left;
}

@keyframes banner{
  10%, 20%{
    background-image: url(https://cdn.discordapp.com/attachments/775558235809120268/783837527169695794/hollow-knight.png);
  }
  25%, 45%{
    background-image: url(https://cdn.discordapp.com/attachments/775558235809120268/783820813672382504/Minecraft.jpg.png);
  }
  50%, 70%{
    background-image: url(https://cdn.discordapp.com/attachments/775558235809120268/783838426230947870/Super-Mario.png);
  }
  75%, 100%{
    background-image: url(https://cdn.discordapp.com/attachments/775558235809120268/783842566214910032/little-nightmare.jpg);
  }
}
.capa{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.6);
}
.info{
  z-index: 1;
  width: 100%;
  max-width: 550px;
  text-align: center;
  font-size: 20px;
}
.info h1{
  color: #fff;
  font-size: 75px;
  margin-bottom: 20px;
  letter-spacing: 1px;
  /* font-family: 'Libre Franklin', sans-serif; */

}
.info p{
  color: #c7c7c7;
  line-height: 1.7;
  margin-bottom: 30px;
  /* font-family: 'Russo One', sans-serif; */
}
.info a{
  color: #fff;
  text-decoration: none;
  background: #3088e0;
  padding: 16px 37px;
  display: inline-block;
  border-radius: 50px;

}

.info2{
  color: #fff;
  text-align: left;
  padding-left: 50px;
  font-size: 40px;
  padding-top: 10px;
}

.info3{
  text-align: center;
}

.texto2{
 text-align: center; 
 color: #fff;
 font-size: 25px;
 
}

.ref{

  color: #eee;

}